
<div class="card">
  <h4 class="card-header">What is R-FlowGraph </h4>
  <div class="card horizontal-split-container">
    <div class="card-body top-section">
        <!-- Content for the top section -->
        <h2>Top Section</h2>
        <p>This is the top part of the horizontal split layout.</p>
    </div>
    <div class="card-body bottom-section">
        <!-- Content for the bottom section -->
        <h2>Bottom Section</h2>
        <p>This is the bottom part of the horizontal split layout.</p>
    </div>
</div>
</div>