ul {
  &:first-child {
    list-style-type: none;
    margin-left: -20px;
  }
}

.fill { 
  min-height: 100%;
  height: 100%;
}

.container {
  padding: 20px;
}

/* Styling for the horizontal split layout */
.horizontal-split-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 18vh); /* Adjust for padding */
}

/* Top and bottom sections */
.top-section,
.bottom-section {
  flex: 1;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}